<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head') %>
  <link rel="stylesheet" href="/css/account.css">
</head>
<body>

  <div class="sidebar">
    <a href="/account">Cont</a>
    <a href="/account/purchase-history">Istoric achizitii</a>
    <a href="/">Inapoi la cumparaturi</a>
    <a href="/logout">iesi din cont</a>
  </div>

  <div class="main-content">
    <header class="bg-light p-3 shadow-sm">
      <li class="header-item">
        <h1>Contul meu</h1>
      </li>
    </header>
    <div class="container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>Nume</th>
            <th>Pret</th>
            <th>Data cumpararii</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
            <tr data-id="<%= product.id %>">
              <td><span><%= product.name %></span></td>
              <td><span><%= product.price %></span></td> 
              <td><span><%= new Date(product.createdAt).toLocaleString() %></span></td> 
            </tr>
          <% }); %>
        </tbody>
      </table>      
    </div>
  </div>

  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="modalMsg"></h6>
                <form action="" method="" id="Form">
                    <input type="hidden" name="csrf_token" value="<%= csrf_token %>">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nume</label>
                        <input type="text" class="form-control"  name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Pret</label>
                        <input type="number" class="form-control"  name="price" required>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Inchide</button>
                        <button type="submit" class="btn btn-primary"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

</body>
</html>
