<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Bine ai venit!</h1>
    <p>Produse: </p>
    <ul id="ulProducts">
      <% products.forEach(function(product) { %>
        <li class="liProduct">
          <strong><%= product.name %></strong>,
          pret: <span><%= product.price %></span>
        </li>
      <% }); %>
    </ul>
  </div>

  <%- include('../../partials/footer'); %>

</body>
</html>