<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/admin/head') %>
  <script src="/admin/js/product.js"></script>
</head>
<body>

  <div class="sidebar">
    <a href="/admin/">Dashboard</a>
    <a href="/admin/users">Gestioneaza utilizatori</a>
    <a href="/admin/products">Gestioneaza produse</a>
    <a href="/">Pagina de pornire</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="main-content">
    <header class="bg-light p-3 shadow-sm">
      <li class="header-item">
        <button class="btn btn-primary addBtn">Adauga Produs</button>
      </li>
    </header>
    
    <div class="container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Pret</th>
            <th>user_id</th>
            <th>Data creării</th>
            <th>Data modificării</th>
            <th>Actiuni</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
            <tr data-id="<%= product.id %>">
              <td><span><%= product.id %></span></td>
              <td><span class="name"><%= product.name %></span></td>
              <td><span class="price"><%= product.price %></span></td> 
              <td><span><%= product.user_id %></span></td>
              <td><span><%= new Date(product.createdAt).toLocaleString() %></span></td> 
              <td><span><%= new Date(product.updatedAt).toLocaleString() %></span></td> 
              <td>
                <button class="btn btn-info" data-id="<%= product.id %>">Editare</button>
                <button class="btn btn-danger" data-id="<%= product.id %>">Stergere</button>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>      
    </div>
  </div>

  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="modalMsg"></h6>
                <form action="" method="" id="Form">
                    <input type="hidden" name="csrf_token" value="<%= csrf_token %>">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nume</label>
                        <input type="text" class="form-control"  name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Pret</label>
                        <input type="number" class="form-control"  name="price" required>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Inchide</button>
                        <button type="submit" class="btn btn-primary"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

</body>
</html>
