<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/admin/head') %>
  <script src="/admin/js/user.js"></script>
</head>
<body>

  <div class="sidebar">
    <a href="/admin">Acasa</a>
    <a href="/admin/users">Gestioneaza utilizatori</a>
    <a href="/admin/products">Gestioneaza produse</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="main-content">
    <header class="bg-light p-3 shadow-sm">
      <li class="header-item">
        <button class="btn btn-primary addBtn">...</button>
      </li>
    </header>
    
    <div class="container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Email</th>
            <th>type</th>
            <th>Data creării</th>
            <th>Data modificării</th>
            <th>Acțiuni</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
            <tr data-id="<%= user.id %>">
              <td><span><%= user.id %></span></td>
              <td><span class="name"><%= user.name %></span></td>
              <td><span class="email"><%= user.email %></span></td> 
              <td><span><%= user.type %></span></td>
              <td><span><%= new Date(user.createdAt).toLocaleString() %></span></td> 
              <td><span><%= new Date(user.updatedAt).toLocaleString() %></span></td> 
              <td>
                <button class="btn btn-info" data-id="<%= user.id %>">Editare</button>
                <button class="btn btn-danger" data-id="<%= user.id %>">Ștergere</button>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>      
    </div>
  </div>

  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">Editeaza utilizator</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="modalMsg"></h6>
                <form action="" method="" id="Form">
                  <input type="hidden" name="csrf_token" value="<%= csrf_token %>">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nume</label>
                        <input type="text" class="form-control"  name="name" required>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" class="form-control"  name="email" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
                        <button type="submit" class="btn btn-primary">Editeaza</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
