<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/admin/head') %>
</head>
<body>

  <div class="sidebar">
    <a href="/admin">Acasa</a>
    <a href="/admin/users">Gestioneaza utilizatori</a>
    <a href="/admin/products">Gestioneaza produse</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="main-content">
    <header class="bg-light p-3 shadow-sm">
      <li class="header-item">
        <button class="btn btn-primary addBtn">...</button>
      </li>
    </header>
    
    <div class="container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Email</th>
            <th>type</th>
            <th>Data creării</th>
            <th>Data modificării</th>
            <th>Acțiuni</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
            <tr data-id="<%= user.id %>">
              <td><span><%= user.id %></span></td>
              <td><span><%= user.name %></span></td>
              <td><span><%= user.email %></span></td> 
              <td><span><%= user.type %></span></td>
              <td><span><%= new Date(user.createdAt).toLocaleString() %></span></td> 
              <td><span><%= new Date(user.updatedAt).toLocaleString() %></span></td> 
              <td>
                <button class="btn btn-info" data-id="<%= user.id %>">Editare</button>
                <button class="btn btn-danger" data-id="<%= user.id %>">Ștergere</button>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>      
    </div>
  </div>

</body>
</html>
